.header {
	display: block;
	background-color: hsl(0, 0%, 95%);
}

.header_nav {
	display: flex;
	align-items: center;
}

.header_logo {
	height: 4em;
	pointer-events: none;
	margin: 0 12px 0 12px;
}

.header_entries {
	display: flex;
	list-style-type: none;
}
